@charset "UTF-8";
html {
    font-size: 100%;
}

body {
    font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-size: 0.875rem;
    background-color: rgba(0, 0, 0, 0.8);
}

main {
    padding-top: 50px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.default-icon img {
    width: 45px;
    height: 40px;
    border-radius: 50%;
}

/* ==============================
Header
============================== */

#header {
    flex-direction: column;
    font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 0;
}

#header .flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .flex-item li {
    padding-right: 70px;
}
#header .flex-item:nth-child(n+1) {
    color: #fff;
}

#header .search_container {
    color: #fff;
    margin: 0 auto;
    background-color: #000;
    position: relative;
    border: 2px solid #999;
    padding: 3px 10px;
    border-radius: 20px;
    width: 260px;
    overflow: hidden;
}

#header .search_container input[type="text"] {
    border: none;
    height: 1.8rem;
}

#header .search_container input[type="text"]:focus {
    outline: 0;
}

#header .search_container input[type="submit"] {
    cursor: pointer;
    color: #999;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    position: absolute;
    top: 20%;
    outline: none;
}

/* ===============================
アニメジャンルの表示(search_home.html)
================================ */

#genre-content {
    max-width: 100%;
}

#genre-content h2 {
    animation: fadeIn1 1.6s ease 0.3s 1 normal;
    font-size: 2.5rem;
    font-weight: normal;
    color: antiquewhite;
    filter: drop-shadow(0 0 0.75rem rgb(208, 238, 98));
    text-align: center;
    margin-bottom: 100px;
}

#genre-content .flex-genre {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#genre-content .flex-genre li {
    animation: fadeIn2 1.6s ease 0.3s 1 normal;
    position: relative;
    opacity: 0.7;
    transition: all 0.5s;
}

#genre-content .flex-genre li:hover {
    opacity: 1;
    transform: scale(1.1, 1.1)
}

#genre-content .flex-genre li h3 {
    color: #242424;
    font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
    letter-spacing: 0.7rem;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#genre-content .flex-genre img {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    object-fit: cover;
}

@keyframes fadeIn1 {
    /*animation-nameで設定した値を書く*/
    0% {
        opacity: 0;
    }
    /*アニメーション開始時は不透明度0%*/
    100% {
        opacity: 1;
    }
    /*アニメーション終了時は不透明度100%*/
}

@keyframes fadeIn2 {
    /*animation-nameで設定した値を書く*/
    0% {
        opacity: 0;
    }
    /*アニメーション開始時は不透明度0%*/
    100% {
        opacity: 0.7;
    }
    /*アニメーション終了時は不透明度100%*/
}

/* ===============================
アニメコンテンツの表示 (genre_search.html)
================================ */

.genre-title {
    font-size: 2.5rem;
    font-weight: normal;
    color: antiquewhite;
    color: rgb(208, 238, 98);
    filter: drop-shadow(0 0 0.75rem rgb(208, 238, 98));
    text-align: center;
    margin-bottom: 20px;
}

.horizontal-list {
    display: flex;
    overflow-x: scroll;
}

.line-box {
    padding: 5px;
    border: solid 1px rgba(255, 255, 255, 0.6);
    border-radius: 2%;
}

.horizontal-item {
	font-size: 1rem;
    background-color: #fff;
    border-radius: 1%;
}

.horizontal-item .flex-content {
    display: flex;
}

.horizontal-item img {
    width: 450px;
    height: 300px;
}

.horizontal-item .hide-content {
    display: none;
}