{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>観たいアニメを見つけるサイト！</title>
    <link rel="shortcut icon" href={% static 'img/favicon.png' %}>
    <link rel="stylesheet" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <header id="header">
        <form method="get" action="#" class="search_container">
            <input type="text" size="" placeholder="観たいアニメを検索！">
            <input type="submit" value="&#xf002">
        </form>
    </header>
    <main>
        <article id="search-result" class="flex-anime-wrapper">
            <h2 class="genre-title">感動</h2>
            <div class="horizontal-list">
                {% for anime in anime_data %}
                <div class="line-box">
                    <ul class="horizontal-item">
                        <div class="flex-content">
                            <li>{{anime.title}}</li>
                            <li>{{anime.star}}</li>
                        </div>
                        {% with "img/anime-image/"|add:anime.img_path as filename %}
                        <li><img src={% static filename %}></li>
                        {% endwith %}
                        <div class="hide-content">
                            <li>{{anime.story}}</li>
                            {% for tag in anime.tags %}
                            <li>{{tag}}</li>
                            {% endfor %}
                        </div>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </article>
    </main>
</body>

</html>