{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>観たいアニメを見つけるサイト！</title>
    <link rel="shortcut icon" href="{% static 'img/favicon2.png' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <header id="header">
        <form method="get" action="#" class="search_container">
            <input type="text" size="" placeholder="観たいアニメを検索！">
            <input type="submit" value="&#xf002">
        </form>
    </header>
    <main>
    </main>
</body>

</html>